{
  "rabbitmq": {
    "host": "{{ RABBITMQ_IP }}",
    "port": 5672,
    "vhost": "{{ SENSU_RABBITMQ_VHOST }}",
    "user": "{{ SENSU_RABBITMQ_USER }}",
    "password": "{{ SENSU_RABBITMQ_PASSWORD }}"
  }
}